[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dvc = {extras = ["all"], version = "*"}
ipykernel = "*"
jupyterlab = "*"
seaborn = "*"
textacy = "*"
fastai = "==2.5.3"

[dev-packages]

[requires]
python_version = "3.9"
